{% extends "layout.html" %}

{% block title %}books{% endblock %}

{% block body %}
<h1 class="text-center">Search Results </h1>
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">{{details[1]}}</div>
  <div class="card-body">
    <h5 class="card-title">{{details[2]}}</h5>
	<p class="card-text"> Author: {{details[1]}}</p>
	<p class="card-text"> Title: {{details[2]}}</p>
    <p class="card-text"> ISBN: {{details[0]}}</p>
	<p class="card-text"> Publication: {{details[3]}}</p>
  </div>
</div>
<div class="all-reviews">
	<h3>Reviews For this book:</h3>
	{%for review in reviews %}
	<p> {{review[0]}}</p>
	{%endfor%}
</div>
<div class="all-ratings">
	<h3>Ratings For this book:</h3>
	{%for rating in ratings %}
	<p> {{rating[0]}}</p>
	{%endfor%}
</div>
<div>
{{ra}}
{%if showRatingForm == True %}
	<h2>Star Rating {{ra}}</h2>

	<div class="rating"> 
		<input type="radio" name="rating" value="5" id="5">
			<label for="5">☆</label> 
		<input type="radio" name="rating" value="4" id="4">
			<label for="4">☆</label> 
		<input type="radio" name="rating" value="3" id="3">
			<label for="3">☆</label> 
		<input type="radio" name="rating" value="2" id="2">
			<label for="2">☆</label> 
		<input type="radio" name="rating" value="1" id="1">
			<label for="1">☆</label>

	</div>
	<form class="rateform" action="" method="post">
		<input type="text" class="ratingVal" name="ratingVal">
		<button class="autoSubmit"> send </button>
	</form>
{%else%}
	<p> You have already rated this book, Thank you!!! </p>
{% endif %}
{{r}}
{%if showReviewForm == True %}
	<h2>Write a review {{r}}</h2>
	<form class="review" action="" method="post">
		<div class="form-group">
			<label for="exampleFormControlTextarea1">Write a review for this book</label>
			<textarea name="review" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			<button type="submit" class="btn btn-primary">Send</button>
	  </div>
	</form>
{%else%}
	<p> You have already written a review for this book, Thank you!!! </p>
{% endif %}
</div>


<script type="text/javascript">
   
    $("input").click(function(){
        var selValue = $("input[type='radio']:checked").val();
		$('#ratingVal').html(selValue); // put the value of the rating into the div
		$('input.ratingVal').attr('value',selValue);
		$('.autoSubmit').click();
    });
   
</script>
{% endblock %}